/*
// resizable referenced from:
// http://jsfiddle.net/3jMQD/
*/

.resizeme {
    background: lime;
}

.resizable {
    background: cyan;
    position: relative;
}

.resizer {
    width: 10px;
    height: 10px;
    background: blue;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

/*
// draggable referenced from:
// https://www.w3schools.com/howto/howto_js_draggable.asp
*/

#mydiv {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

/*
// custom code
*/

#previewDIV {
    background-color: yellow;
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #73AD21;
}

#previewIMG {
    background-color: green;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

#previewTXT1 {
    background-color: orange;
    position: absolute;
    top: 80px;
    right: 80px;
    width: 200px;
    /* height: 100px; */
    /* border: 3px solid #73AD21; */
}

#previewTXT2 {
    background-color: violet;
    position: absolute;
    top: 160px;
    right: 160px;
    width: 200px;
    /* height: 100px;
    border: 3px solid #73AD21; */
}