/* game board table */

#board td {
    width: 50px;
    height: 50px;
    border: solid 1px #666;
}

.drop-piece {
    position: relative;
    animation: drop-it 2s 1;
}

@keyframes drop-it {
    from {
        visibility: visible;
        top: 0px;
    }
}

/* pieces are div within game table cells: draw as colored circles */

.top-piece {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.piece {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
    border: dashed 1px lightgray;
}

.player-1 div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.player-2 div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.player-1 div:hover {
    background-color: blue;
}

.player-2 div:hover {
    background-color: red;
}

.player-1-piece {
    background-color: blue;
}

.player-2-piece {
    background-color: red;
}