{% extends 'base.html' %}

{% block title %}Post Tags{% endblock %}

{% block csslinks %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
<h1>Post Tags</h1>
<h2>{{post.title}}</h2>
<p>{{post.content}}</p>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<form id="form" action="/posts/{{ post.id }}/tags/select" method="POST">
    <h2>Tags</h2>
    {% for tag in tags %}
    <input type="checkbox" id="tags-{{ tag.id }}" name="tags[{{ tag.id }}]" value="{{ tag.id }}"
        {% for post_tag in post_tags %}
        {% if (tag.id == post_tag.id) and tag.checked %}checked{% endif %}
        {% endfor %}>
    <label for="tags[{{ tag.id }}]">{{ tag.id }} : {{ tag.name }}</label><br>
    {% endfor %}

    <input type="hidden" id="init_post_id" name="init_post_id" value="{{ post.id }}">
    <input type="hidden" id="tags-list" name="list" value="">
    <input type="hidden" id="edit_mode" name="edit_mode" value="{{ state }}">
    <label class="checkbox-inline">
        <input id="toggle-edit-mode" type="checkbox" checked data-toggle="toggle">
        <div id="toggle-edit-text">Edit Mode</div>
    </label>

    <button id="submit" class="btn btn-primary">Submit</button>
    <button id="cancel" class="btn btn-secondary">Cancel</button>
</form>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scriptlinks %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{ url_for('static', filename='select_tags_form.js') }}"></script>
{% endblock %}