{% extends 'base.html' %}

{% block title %}Tag Info{% endblock %}

{% block csslinks %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
<h1>Tag Info</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}

{% block content %}
<form id="form" action="/tags/{{ tag_id }}/edit" method="POST">
    <p><label for="tag_name" class="col-sm-2 col-form-label">Tag</label>
        <input id="tag_name" name="tag_name" type="text" class="text" value="{{ tag.name }}"></p>

    <input type="hidden" id="init_tag_id" name="init_tag_id" value="{{ tag.id }}">
    <input type="hidden" id="init_tag_name" name="init_tag_name" value="{{ tag.name }}">

    <input type="hidden" id="edit_mode" name="edit_mode" value="{{ state }}">
    <label class="checkbox-inline">
        <input id="toggle-edit-mode" type="checkbox" checked data-toggle="toggle"> <div id="toggle-edit-text">Edit Mode</div>
    </label>

    <button id="submit" class="btn btn-primary">Submit</button>
    <button id="delete" class="btn btn-danger">Delete</button>
    <button id="cancel" class="btn btn-secondary">Cancel</button>
</form>

{% endblock %}

{% block footer %}
{% endblock %}

{% block scriptlinks %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{ url_for('static', filename='edit_tag_form.js') }}"></script>
{% endblock %}
