{% extends 'base.html' %}

{% block title %}game_state.title{% endblock %}

{% block header %}
<h>{{ game_state.title }}</h>
<div id="status">
    <p id="status-msg"></p>
    <p id="timer"></p>
    <p id="score"></p>
</div>
{% endblock %}

{% block content %}
<table class="board">
    <tbody>
        {% for row in game_state.board %}
        {% set row_index = loop.index %}
        <tr id="row-{{ row_index }}">
            {% for col in row %}
            {% set col_index = loop.index %}
            <td id="col-{{ row_index }}-{{ col_index }}">{{ col }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<form id="form" action="/lookup" method="POST">
    guess a word
    <input name="word" id="word" value="">
    <button id="submit">Submit</button>
</form>
{% endblock %}

{% block footer %}
<div id="submitted">
    <p>submitted:</p>
    <ul id="submitted-words">

    </ul>
</div>
{% endblock %}